<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2025 Magebit, Ltd. (https://magebit.com/)
 * @author    Magebit <info@magebit.com>
 * @license   MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magebit_Documentation::documentation"
            title="Docs"
            sortOrder="1000"
            module="Magebit_Documentation"
            action="magebit_documentation/index/index"
            resource="Magebit_Documentation::documentation"/>
    </menu>
</config>
